.idea
.DS_Store
/fe/dist
/output
server/hooks/spam_block/output/
pmail.db
server/plugins
config
*_KEY
AURORA_SECRET
fe-svelte/node_modules
fe-svelte/dist
server/pmail_*
server/lightmail_*
lightmail_*
*.gz
__pycache__/
.freebuff/
*.exe